.rules-container{
    background-color: var(--principal);
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
}

.language-control{
    display: flex;
    justify-content: space-between;
    background-color: var(--community-theme-primary);
    height: 3rem;
    width: 99.6%;
    padding: 1rem;
    align-items: center;
    margin: 1px;
    border-color: white;
    border-radius: 10px 10px 0px 0px;
    color: var(--principal);
    font-size: 1.2rem;
}

.button-control-language{
    border: none;
    outline: white 1px solid;
    margin: .6rem;
    width: 4rem;
    border-radius: 4px;
    height: 2rem;
    background-color: #0d5668;
    color: var(--principal);
}

.rules-button{
    width: 100%;
}

.rules{
    display: none;

}