.Comment{
    height: 20rem;
    background-color: var(--primary);
    margin-bottom: 3rem;
    border-radius: 25px;
    animation: loadingAnimation 1.5s infinite;
}

@keyframes loadingAnimation {
    0% {
        background: var(--principal);
        color: var(--principal);
    }

    50% {
        color: var(--primary);
        background: var(--primary);
    }

    100% {
        background: var(--principal);
    }
}