@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;600;700&display=swap");

:root {
  --reddit: #FF4500;
  --principal: #ffffff;
  --primary: #e5e7eb;
  --secondary: #0079D3;
  --tertiary: #caced3;
  --community-theme-primary: #073642;
  --community-theme-secondary: #cb4b16;
  --community-theme-tertiary: #002b36;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.google.com/specimen/Roboto"), local("Roboto");
  font-display: optional;
}

#root {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

html {
  font-size: 62.5%; /* Hace que 1 rem sea = a 10 px para calcular más fácil */
  scroll-behavior: smooth; 
}

main {
  height: calc(100% - 138px);
  width: 100%;
  background-color: var(--background-card);
} 
