.logo{
    height: 50px;
    width: 50px;
    color: var(--reddit);
}

header{
    width: 100%;
    background-color: var(--principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-header{
    border: none;
    width: 18rem;
    height: 3rem;
    border-radius: 10px;
}

.container-header{
    display: flex;
    align-items: center;
}

.icon-header{
    margin: 2%;
    height: 3rem;
    width: 3rem;
}

.icon-header-advertise{
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 4%;
    margin-bottom: 4%;
    height: 2rem;
    width: 2rem;
}

.karma{
    color: var(--reddit)
}
.profile-picture{
    height: 3rem;
    width: 3rem;
}

.profile-info{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.searchBar{
    background-color: var(--primary);
    width: 35%;
    height: 90%;
    border-radius: 30px;
    font-size: 1.2rem;
}

.search-reddit{
    color: #bbbbbb;
    margin-left: 1rem;
}

.advertise{

    background-color: var(--primary);
    width: 14rem;
    border-radius: 30px;
    margin-left: 6%;
}

.container-header-profile{
    margin-right: 2%;
    width: 12%;
}

.profile-arrow{
    width: 2rem;
    height: 2rem;
}

.searched{
    height: 2.3rem;
    background-color: var(--tertiary);
    font-size: 1.3rem;
    border-radius: 30px;
}

.searched-x{
    margin-left: .5rem;
    margin-right: .5rem;
}

.icon-profile{
    margin-left: .5rem;
    margin-right: .5rem;
}

 
  
   
    
     
      
       
        
         
          
           
            
             
              
               
                
               
              
             
            
           
          
         
        
       
      
     
    
   
  
 

